html, body, ul, li {
  margin: 0;
  border: 0;
  padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Super Mario 256', sans-serif;
    color: #ffffff;
    overflow: hidden;
}

canvas {
  display: block;
  width: 762;
  margin: 0 auto;
  background-color: blue;
}

p {
  text-align: center;
}

body {
  overflow: hidden;
  height: 100%;
}

html {
  overflow: hidden;
  height: 100%;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
}
